*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

body {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.158),
      rgba(148, 65, 65, 0.082)
    ),
    url("bg1.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.clock {
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  box-shadow: 14px 8px 20px 2px rgb(0 0 0 / 37%), 0 6px 20px 0 rgb(0 0 0 / 95%);
}

.clock .circle {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.733);
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  right: 50px;
  left: 50px;
  top: 50px;
  bottom: 50px;


}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 45px;

}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;

  background-color: black;
  border: 1px solid rgb(214, 211, 206);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));

  box-shadow: 4px 3px 2px 0px rgb(0 0 0 / 41%), 0 6px 20px 0 rgb(0 0 0 / 1%);

  
}

.clock::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 4px 3px 2px 0px rgb(0 0 0 / 41%), 0 6px 20px 0 rgb(0 0 0 / 1%);
}

.clock .hand.second {
  width: 4px;
  height: 35%;
  background-color: red;
}

.clock .hand.minute {
  width: 9px;
  height: 32%;
  background-color: black;
}
.clock .hand.hour {
  width: 13px;
  height: 28%;
  background-color: black;
}
